version: 1.3.1

mcpServers:
  awsops_compliance_agent:
    type: stdio
    command: "python3"
    args:
      - -m
      - integration.compliance_agent.mcp_server
    env:
      PYTHONPATH: "${AWSOPS_HOME_REPO}"
      AWSOPS_CONFIG_BACKEND_URL: "http://127.0.0.1:4313"
      COMPLIANCE_AGENT_V1_HARNESS_ARN: "${COMPLIANCE_AGENT_V1_HARNESS_ARN}"
      AWSOPS_HARNESS_TELEMETRY_FILE: "${AWSOPS_HARNESS_TELEMETRY_FILE}"
      AWS_REGION: "ap-southeast-1"
      AWS_CONFIG_FILE: "${AWS_CONFIG_FILE}"
      AWS_PROFILE: "${AWS_PROFILE}"
      AWS_SDK_LOAD_CONFIG: "1"
    timeout: 120000
    initTimeout: 10000
    chatMenu: false
    serverInstructions: true
